:root {
  --main-color: #fff;
  --background: #fff;
  --secondary: #fff;
  --link: #fff;
  --text-color: #fff;
  --secondary-text-color: #dcdcdc;
  --bluerde: #178d8f;
}
::-webkit-scrollbar {
  width: 0;
}
h1 {
  margin: 30px;
  text-align: center;
  color: #178d8f;
  font-weight: bold;
}
h1.top {
  font-family: "Alfa Slab One";
}
h2 {
  margin: 30px;
  text-align: center;
  color: var(--main-color);
}
div {
  color: var(--text-color);
}
.center {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.centrato-vert {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
div.card-body {
  color: black;
}
ul.senza {
  list-style: none;
}
.footer {
  margin: 50px 0 0 0;
}
td,
th,
a.tr {
  color: var(--main-color);
}
